<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kakaobank_api.kakaobank_api.dao.UserInfoDao"> 
<!--고객 DB에서 고객 검색 -->
<select id="selectUser" parameterType="String" resultType="kakaobank_api.kakaobank_api.dto.UserInfo"> 
    SELECT cusno,user_state FROM user_info where user_state is not null and cusno=#{param}
</select>

</mapper>
